html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
  color: rgba(136, 20, 20, 0.47);
}


.section-header {
    text-align: left;
    font-size: 30px;
    color: rgba(136, 20, 20, 0.47);
    padding: 0;
}



header {
    position: relative;
    overflow: hidden;
    
}

header ul {
    list-style: none;
}

header img {
 
}

#background {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url('tlo.jpg') no-repeat 50% 50%;
    background-size: cover;

    z-index: 10;

    opacity: 0.5;
}

#header-content {
    position: relative;
    z-index: 11;
    padding: 10px;
    text-align: center;

    margin: 50px;

    background: rgba(100, 100, 100, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#header-content ul {
    list-style: none;
}

header>img {
    border: 10px solid #CCC;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

a:hover {
    color: #e47881;
}


.buttons span {
    border: 1px solid #e47878;
    color: #e47878;
    padding: 5px 10px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
}
